<div>
    <%= render partial: "form", locals: { plan: @plan } %>
  <% end %>
</div>
<div>
  <div class=calendar>
    <% @week_days.each do |day| %>
       <%= render partial: "calendar", locals: { plan: plan } %>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>