<div>
<<<<<<< Updated upstream
    <%= render partial: "form", locals: { plan: @plan } %>
  
=======
     <%= render partial: "form", locals: { plan:@plan  } %>
>>>>>>> Stashed changes
</div>
<div>
  <div class=calendar>
    <% @week_days.each do |day| %>
       <%= render partial: "calendar", locals: { plan: plan } %>
          <% end %>
  </div>
</div>